body {
  background-color: #eee;
}
body,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #333;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
.button {
  margin: 0;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  color: #808080;
  background-color: #343434;
  border: 1px solid #343434;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button svg {
  fill: currentcolor;
}
.button svg:first-child {
  margin-right: 8px;
}
.button svg:last-child {
  margin-left: 8px;
}
.button.xsmall {
  font-size: 13px;
  padding: 5px 10px;
  min-width: 60px;
}
.button.xsmall + .button {
  margin-left: 12px;
}
.button.xsmall svg {
  width: 16px;
  height: 16px;
}
.button,
.button.small {
  font-size: 14px;
  padding: 9px 16px;
  min-width: 80px;
}
.button + .button,
.button.small + .button {
  margin-left: 20px;
}
.button svg,
.button.small svg {
  width: 18px;
  height: 18px;
}
.button.medium {
  font-size: 16px;
  padding: 11px 16px;
  min-width: 120px;
  max-width: 240px;
}
.button.medium + .button {
  margin-left: 24px;
}
.button.medium svg {
  width: 18px;
  height: 18px;
}
.button.large {
  font-size: 20px;
  padding: 13px 22px;
  min-width: 180px;
}
.button.large svg {
  width: 24px;
  height: 24px;
}
.button.outline {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}
.button.link {
  border: none;
}
.button.link:hover,
.button.link:focus {
  text-decoration: underline;
}
.button {
  background-color: #808080;
  border: 1px solid #808080;
  color: #fff;
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button .loader div {
  background-color: #fff !important;
}
.button:hover .loader div {
  background-color: #fff !important;
}
.button svg {
  transition-property: fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button:hover,
.button:focus {
  background-color: #343434;
  border-color: #343434;
  color: #fff;
}
.button.outline {
  border-color: #808080;
  color: #808080;
  background-color: transparent;
}
.button.outline .loader div {
  background-color: #808080 !important;
}
.button.outline:hover .loader div {
  background-color: #fff !important;
}
.button.outline:hover {
  background-color: #808080;
  color: #fff;
}
.button.link {
  color: #808080;
  background-color: transparent;
  border: none;
}
.button.link .loader div {
  background-color: #808080 !important;
}
.button.link:hover .loader div {
  background-color: #fff !important;
}
.button.link:hover {
  background-color: transparent;
  color: #343434;
}
.button.primary,
.button[type=submit] {
  background-color: #00f;
  border: 1px solid #00f;
  color: #fff;
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button.primary .loader div,
.button[type=submit] .loader div {
  background-color: #fff !important;
}
.button.primary:hover .loader div,
.button[type=submit]:hover .loader div {
  background-color: #fff !important;
}
.button.primary svg,
.button[type=submit] svg {
  transition-property: fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button.primary:hover,
.button[type=submit]:hover,
.button.primary:focus,
.button[type=submit]:focus {
  background-color: #006;
  border-color: #006;
  color: #fff;
}
.button.primary.outline,
.button[type=submit].outline {
  border-color: #00f;
  color: #00f;
  background-color: transparent;
}
.button.primary.outline .loader div,
.button[type=submit].outline .loader div {
  background-color: #00f !important;
}
.button.primary.outline:hover .loader div,
.button[type=submit].outline:hover .loader div {
  background-color: #fff !important;
}
.button.primary.outline:hover,
.button[type=submit].outline:hover {
  background-color: #00f;
  color: #fff;
}
.button.primary.link,
.button[type=submit].link {
  color: #00f;
  background-color: transparent;
  border: none;
}
.button.primary.link .loader div,
.button[type=submit].link .loader div {
  background-color: #00f !important;
}
.button.primary.link:hover .loader div,
.button[type=submit].link:hover .loader div {
  background-color: #fff !important;
}
.button.primary.link:hover,
.button[type=submit].link:hover {
  background-color: transparent;
  color: #006;
}
.button.secondary {
  background-color: #008000;
  border: 1px solid #008000;
  color: #fff;
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button.secondary .loader div {
  background-color: #fff !important;
}
.button.secondary:hover .loader div {
  background-color: #fff !important;
}
.button.secondary svg {
  transition-property: fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.button.secondary.outline {
  border-color: #008000;
  color: #008000;
  background-color: transparent;
}
.button.secondary.outline .loader div {
  background-color: #008000 !important;
}
.button.secondary.outline:hover .loader div {
  background-color: #fff !important;
}
.button.secondary.outline:hover {
  background-color: #008000;
  color: #fff;
}
.button.secondary.link {
  color: #008000;
  background-color: transparent;
  border: none;
}
.button.secondary.link .loader div {
  background-color: #008000 !important;
}
.button.secondary.link:hover .loader div {
  background-color: #fff !important;
}
.button.secondary.link:hover {
  background-color: transparent;
  color: #000;
}
.button.danger {
  background-color: #f00;
  border: 1px solid #f00;
  color: #fff;
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button.danger .loader div {
  background-color: #fff !important;
}
.button.danger:hover .loader div {
  background-color: #fff !important;
}
.button.danger svg {
  transition-property: fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.button.danger:hover,
.button.danger:focus {
  background-color: #600;
  border-color: #600;
  color: #fff;
}
.button.danger.outline {
  border-color: #f00;
  color: #f00;
  background-color: transparent;
}
.button.danger.outline .loader div {
  background-color: #f00 !important;
}
.button.danger.outline:hover .loader div {
  background-color: #fff !important;
}
.button.danger.outline:hover {
  background-color: #f00;
  color: #fff;
}
.button.danger.link {
  color: #f00;
  background-color: transparent;
  border: none;
}
.button.danger.link .loader div {
  background-color: #f00 !important;
}
.button.danger.link:hover .loader div {
  background-color: #fff !important;
}
.button.danger.link:hover {
  background-color: transparent;
  color: #600;
}
a.button {
  text-decoration: none;
}
.text-input {
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  padding: 8px;
}
.text-input:hover,
.text-input:focus {
  border-color: #006;
  outline: none;
}
.text-input.danger {
  border-color: #f00;
  color: #f00;
}
.text-input.danger:hover,
.text-input.danger:focus {
  color: #333;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.form-group label {
  margin-bottom: 8px;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-field-error {
  color: #f00;
  font-weight: 700;
}
.form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.day {
  margin-bottom: 40px;
}
.game {
  border-radius: 2px;
  box-shadow: 0px 0px 6px 1px rgba(173,173,173,0.5);
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
}
.game a,
.game a:hover,
.game a:visited,
.game a:active {
  text-decoration: none;
  color: #333;
}
.game-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-card .competitor {
  display: flex;
  align-items: center;
}
.game-card .competitor svg {
  margin-right: 12px;
}
.score-input {
  margin: 16px;
  width: 60px;
}
.score-input input {
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
  width: 100%;
  padding: 8px;
  font-size: 28px;
  text-align: center;
}
.score-input input[disabled] {
  background-color: #ccc;
}
.bets {
  margin-top: 8px;
  border-top: 1px solid #808080;
  padding-top: 8px;
}
.bet-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.bet-section {
  flex-grow: 1;
  padding-right: 16px;
}
.bet-section h4 {
  margin-bottom: 12px;
  text-align: center;
}
.bet-section:first-child h4 {
  text-align: left;
}
.bet-section:last-child {
  padding-right: 0;
}
.bet-section:last-child h4 {
  text-align: right;
}
.bet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.task {
  padding: 16px;
  margin: 16px;
  background-color: #fff;
}
