.bets
    margin-top: pad(10)
    border-top: 1px solid $border-color
    padding-top: pad(2)

    h3
        display: flex
        justify-content: space-between

.bet-sections
    margin-top: pad(4)
    display: grid
    grid-template-columns: 33% 33% 33%

.bet-section
    padding: 0 pad(1)
    h4
        margin-bottom: pad(3)
        text-align: center

    &:first-child
        h4
            text-align: left

    &:last-child
        padding-right: 0
        h4
            text-align: right


.bet-item
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

    &.me
        font-weight: 700
