
.day
    margin-bottom: pad(10)

.game
    display: block
    border-radius: $border-radius
    box-shadow: 0px 0px 6px 1px rgba(173, 173, 173, 0.5)
    margin: pad(4) 0
    text-decoration: none
    color: $default


.game-card
    position: relative
    display: grid
    grid-template-columns: 40% 10% 10% 40%
    grid-template-rows: 20% 60% 20%
    padding: pad(4)
    background-color: #fff
    border-radius: $border-radius

    &.win
        border-color: $win
        background-color: rgba($win, 0.2)

    &.perfect
        border-color: $perfect
        background-color: rgba($perfect, 0.2)

    &.loss
        border-color: $loss
        background-color: rgba($loss, 0.2)

    > div
        margin: pad(2)

    .time, .predictions
        grid-column-end: span 2
        justify-self: center

    .badge
        justify-self: flex-start
        &.points, &.live
            justify-self: flex-end

    .score
        grid-column-end: span 2
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: pad(6)

        .competitor
            display: flex
            align-items: center

            .competitor-name
                padding: 0 pad(4)

    .competitor-b
        flex-direction: row-reverse
        .competitor
            flex-direction: row-reverse

    .progress-bar
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 3px
        margin: 0
        background-color: $grey-light
