.score-input
    width: 60px
    position: relative

    input
        border-radius: $border-radius
        border-width: 1px
        border-style: solid
        border-color: $border-color
        width: 100%;
        padding: pad(2)
        font-size: 28px
        text-align: center

        &[disabled]
            background-color: rgba($grey, 0.2)

    .async-status
        position: absolute
        top: 100%
        width: 100%
        text-align: center
        transition: opacity .4s ease-out 3s
        color: $win

        &.saved
            opacity: 0
