.task
    display: flex
    align-items: center
    padding: pad(4)
    margin: pad(4) 0
    background-color: #fff

    .icon
        margin-right: pad(2)


.double-flags
    position: relative
    width: 48px
    height: 48px

    svg
        position: absolute
