$grey = grey
$grey-light = lighten($grey, 30)
$grey-dark = darken($grey, 30)

$primary = blue
$primary-light = lighten($primary, 30)
$primary-dark = darken($primary, 30)

$secondary = green
$secondary-light = lighten($secondary, 30)
$secondary-dark = darken($secondary, 30)

$danger = red
$danger-light = lighten($danger, 30)
$danger-dark = darken($danger, 30)

$default = #333

$border-color = $grey


$perfect = yellow
$win = green
$loss = red
