.leaderboard
    margin-bottom: pad(10)

    h3
        margin-bottom: pad(4)

.user
    display: flex
    justify-content: space-between
    align-items: center
    padding: pad(4)

    &.me
        background-color: rgba($win, 0.2)
        font-weight: 700
