.leaderboard
    margin-bottom: pad(10)

    h3
        margin-bottom: pad(4)

    .list
        background-color: #fff


.user
    display: flex
    justify-content: space-between
    align-items: center
    padding: pad(4)

    &:hover
        background-color: rgba($secondary, 0.3)
        cursor: pointer

    &.me
        font-weight: 700
